# Local .terraform directories
**/.terraform/*
.terraform/

# .tfstate files
*.tfstate
*.tfstate.*
*.tfstate.backup
errored.tfstate

# Crash log files
crash.log
crash.*.log

# Exclude sensitive tfvars files (if any)
*.secret.tfvars
secrets.auto.tfvars

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI & runtime logs
*.log
cli.log

# OS & Editor files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo
